# http://editorconfig.org

# A special property that should be specified at the top of the file outside of
# any sections. Set to true to stop .editor config file search on current file
# Специальное свойство, которое должно быть указано в верхней части файла за пределами
# любых разделов. Установите значение true, чтобы остановить поиск файла .editorconfig в текущем
root = true

[*]
# Indentation style
# Possible values - tab, space
# Стиль отступа
# Возможные значения - tab, space
indent_style = space

# Indentation size in single-spaced characters
# Possible values - an integer, tab
# Размер отступа в символах через один интервал
# Возможные значения - целое число, tab indent_size
indent_size = 2

# Line ending file format
# Possible values - lf, crlf, cr
# Формат файла окончания строки
# Возможные значения - lf, crlf, cr end_of_line
end_of_line = lf

# File character encoding
# Possible values - latin1, utf-8, utf-16be, utf-16le
# Кодировка символов файла
# Возможные значения - latin1, utf-8, utf-16be, utf-16le
charset = utf-8

# Denotes whether to trim whitespace at the end of lines
# Possible values - true, false
# Указывает, следует ли обрезать пробелы в конце строк
# Возможные значения - true, false
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# Denotes whether file should end with a newline
# Possible values - true, false
# Указывает, должен ли файл заканчиваться новой строкой
# Возможные значения - true, false
insert_final_newline = true